<!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/style.css">
        <title>PS3トロフィーまとめWiki</title>
    </head>
    <body>
        <div id="header_container">
            <header>
                <div class="header_title"><a>PS3トロフィーまとめWiki</a></div>
                <ul id="globalNavi">
                    <li>
                        <a id="navi_home" href="{{ "index.html" | absURL }}">TOPページ</a>
                    </li>
                </ul>
            </header>
        </div>